    div#content {
        position: relative;
        width: 801px;
        
        margin: 0 auto 20px auto;
        padding: 0;
        
        text-align: left;
    }
    
    
    div#local {
        display: none;
    }
    div#nav {
	position: absolute;
	top: 172px;
	_top: 185px;
	left: 0;
	width: 35%;
	background-repeat: repeat;
	text-align: left;
    }
   
    div#holder {
	width:700px;
	margin: 0 auto;
	border: 0px solid yellow;
	padding-top: 70px;
	}


    div#ankara {
	border: 0px solid red;
	width: 30%;
	float: left;
	}
	 div#ankara_buyuk {
	border: 0px solid red;
	width: 600px;
	float: left;
	}
    div#ist {
	border: 0px solid green;
	width: 30%;
	float: right;
	}
    

   